.sidebar {
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between; /* Top-Bereich + Footer */
    padding: 1rem;
    background-color: #1e1e2f;
    color: white;
}

.sidebarTop h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.sidebarTop nav {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.sidebarTop nav a {
    color: #f9fafb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s, color 0.2s;
}

.activeLink {
    font-weight: bold;
}

.sidebarFooter {
    text-align: center;
    font-size: 0.9rem;
}

.logoutButton {
    margin-top: 0.5rem;
    background-color: #c53030;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}
